*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: white;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 60px;
}
body{
    background-color: rgba(246,248,249,255);
    font-family: 'Roboto', sans-serif;
}
h3{
    margin-top: 20px;
}
#addtask, #addsection, #editorial, #q1goals, #recruting, #mobile, #website, #sales{
    width: 100px;
    height: 25px;
    border-radius: 10px;
    color: white;
    font-family: 'Roboto', sans-serif; ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#addsection{
    margin-left: 5px;
    height: 30px;
    border-radius: 5px;
    color: gray;
    background-color: white;
    border-color: lightgrey;
}
#addtask{
    background-color: rgba(71,173,241,255);
    color: white;
    height: 30px;
    border-radius: 5px;
}
#editorial{
    background-color: rgba(69,171,234,255);
}
#q1goals{
    background-color: rgba(156,114,228,255);
}
#recruting{
    background-color: rgba(100,192,169,255);
}
#mobile{
    background-color: rgba(242,158,51,255);
}
#website{
    background-color:rgba(216,99,161,255);
}
#sales{
    background-color:rgba(176,201,38,255);
}
.logo{
    margin-left: 20px;
    vertical-align: middle;
}
.title{
    vertical-align: middle;
    font-family: ;
}
.addnew{
    width: 80%;
    margin: 0 auto;
    background-color: white;
    margin-top: 40px;
    height: 60px;
    border-radius: 5px;
}
.container{
    width: 80%;
    margin: 0 auto;
    background-color: white;
    margin-top: 2px;
    border-radius: 5px;
    padding-bottom: 30px;
    padding-top: 30px;
}
.list{
    padding-top: 15px;
    padding-left: 50px;
}
.titlelist::before{
    content:'\25BC';
}
.element{
    vertical-align: middle;
    margin-top: 25px;
}
.radiuscheck{
     display: inline-block;
     border: 1px solid green;
     border-radius: 50%;
     width: 23px;
     height: 23px;
     text-align: center;
     vertical-align: middle;
     color: green;

}
.radiusnocheck{
    display: inline-block;
    border: 1px solid red;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    text-align: center;
    vertical-align: middle;
    color: red;

}
